.product-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   bottom:100px;
    

}

.product__card_img{
   bottom: 40px;
}

.card-img{
    height: 22rem;
    width: 5rem;
}
.cardimg-img{
    height:"10px";
}
.mobile-container{
    padding-bottom:40px;
}

.main-card-img{
    width:17rem;
    height:19rem;

}
.card-product-img{

    width:8rem;
    height:10rem;

}

.product__header__discount{

   background-color: beige;
   padding: 10px;
}

@media  screen and (max-width:1390px)  {

    .product-card{
        display: grid;
        grid-template-columns: repeat(4,1fr);
       
        
    
    }
    
    .main-card-img{
        width:19rem;
        height:20rem;
        left: 1px;
        top: 15px;
    
    }
    .card-product-img{

        width:18rem;
        height: 13rem;



    }


}



@media  screen and (max-width:1307px)  {

    .product-card{
        display: grid;
        grid-template-columns: repeat(4,1fr);
       
        
    
    }
    
    .main-card-img{
        width:19rem;
        height:20rem;
        left: 1px;
        top: 15px;
    
    }
    .card-product-img{

        width:18rem;
        height: 13rem;



    }


}


@media  screen and (max-width:1280px)  {

    .product-card{
        display: grid;
        grid-template-columns: repeat(4,1fr);
       
        
    
    }
    
    .main-card-img{
        width:19rem;
        height:20rem;
        left: 17px;
    
    }
    .card-product-img{

        width:17rem;
        height: 13rem;



    }


}

@media  screen and (max-width:1024px)  {

    .product-card{
        display: grid;
        grid-template-columns: repeat(3,1fr);
       
        
    
    }
    
    .main-card-img{
        width:15rem;
        height:13rem;
        
    
    }
    .card-product-img{

        width:13rem;
        height: 9rem;



    }


}





@media  screen and (max-width:412px)  {

    .product-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       right: 10px;
        
    
    }
    
    .main-card-img{
        width:8.4rem;
        height:13rem;
    
    }
    .card-product-img{

        width:7rem;
        height: 7rem;



    }


}

@media  screen and (max-width:375px)  {

    .product-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        
    
    }
    
    .main-card-img{
        width:6rem;
        height:12rem;
    
    }
    .card-product-img{

        width:4rem;
        height: 7rem;



    }


}


@media  screen and (max-width:390px)  {

    .product-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
        
    
    }
    
    .main-card-img{
        width:6rem;
        height:13rem;
    
    }
    .card-product-img{

        width:5rem;
        height: 7rem;



    }


}






@media  screen and (max-width:820px)  {

    .product-card{
        display: grid;
        grid-template-columns: repeat(3,1fr);
       
        
    
    }
    
    .main-card-img{
        width:11rem;
        height:13rem;
        left:10px;
    
    }
    .card-product-img{

        width:9.5rem;
        height: 8rem;



    }


}

@media  screen and (max-width:912px)  {

    .product-card{
        display: grid;
        grid-template-columns: repeat(3,1fr);
       
        
    
    }
    
    .main-card-img{
        width:11rem;
        height:13rem;
        left:19px;
    
    }
    .card-product-img{

        width:9.5rem;
        height: 8rem;



    }


}

@media  screen and (max-width:540px)  {

    .product-card{
        display: grid;
        grid-template-columns: repeat(3,1fr);
       
        
    
    }
    
    .main-card-img{
        width:6rem;
        height:13rem;
        
    
    }
    .card-product-img{

        width:5rem;
        height: 8rem;



    }


}


@media  screen and (max-width:280px)  {

    .product-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
        
    
    }
    
    .main-card-img{
        width:5.5rem;
        height:13rem;
        
    
    }
    .card-product-img{

        width:5rem;
        height: 5.5rem;



    }


}

@media  screen and (max-width:360px)  {

    .product-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
        
    
    }
    
    .main-card-img{
        width:5.5rem;
        height:13rem;
        
    
    }
    .card-product-img{

        width:5rem;
        height: 5.5rem;



    }


}


@media  screen and (max-width:393px)  {

    .product-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
        
    
    }
    
    .main-card-img{
        width:7rem;
        height:13rem;
        
    
    }
    .card-product-img{

        width:6rem;
        height: 5.5rem;



    }


}


@media  screen and (max-width:414px)  {

    .product-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
        
    
    }
    
    .main-card-img{
        width:6.2rem;
        height:12rem;
        
    
    }
    .card-product-img{

        width:5.5rem;
        height: 5.5rem;



    }


}